
@{
    ViewData["Title"] = "Menu";
}


    <h1 class="welcome">Welcome to  <img id="logo" src="~/logo.png" /> Bank </h1>

    <h2 class="welcome">@ViewData["Fname"] @ViewData["Lname"]</h2>

    <img id="piggy" src="~/piggy-bank-banner.png" />

    <div class="accntDiv" id="createDiv">
        <h4>Create a new account</h4>
        <a class="nav-link text-dark" asp-area="" asp-controller="Checkings" asp-action="Create">Create Checking account</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Businesses" asp-action="Create">Create Business account</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Terms" asp-action="Create">Create Term account</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Loans" asp-action="Create">Take out a Loan</a>
    </div>  


    <div class="accntDiv" id="accntDiv">
        <h4>View Existing Accounts</h4>
        @*@Html.Action("MyChecking", "Checking")*@
        @*@await Html.PartialAsync("~/Views/Checkings/MyChecking.cshtml")*@
        @*@{
            await Html.RenderPartialAsync("../Checkings/MyChecking");
        }*@
        <a class="nav-link text-dark" asp-area="" asp-controller="Checkings" asp-action="MyChecking">View Your Checking Accounts</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Businesses" asp-action="MyBusiness">View Your Business Accounts</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Terms" asp-action="MyTerm">View Your Term Accounts</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Loans" asp-action="MyLoan">View Your Loan Accounts</a>

    </div>

