
@{
    ViewData["Title"] = "Payment";
}

<h1>Deposit</h1>

<p>@ViewData["ErrorMessage"]</p>


<form asp-action="Payment">
    <label>How much would you like to pay off?</label>
    <input type="number" name="amount" />
    <input type="hidden" asp-for=@ViewData["Id"] />
    <input type="submit" value="Payment" class="btn btn-default" />
</form>